:root {
  --sidebar-padding-left: 40px;
}

.overlay {
  position: fixed;
  height: inherit;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(8px);
  opacity: 0;
  pointer-events: none;
}

.overlay_visible {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
  pointer-events: auto;
  height: 100vh;
  z-index: 10;
}

.content {
  position: fixed;
  height: inherit;
  width: 80%;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;
  height: 100vh;
  z-index: 15;
}

.content_active {
  transform: translateX(0%);
  opacity: 1;
  pointer-events: auto;
}

.sidebar_content {
  overflow: hidden;
  overflow-y: auto;
  max-height: 90vh;
}

/* subtitles */
.sidebar_title {
  margin-top: 30px;
  padding-left: var(--sidebar-padding-left);
  font-weight: 500;
  display: flex;
  font-size: 16px;
}

.sidebar_content > div:nth-child(2) > a,
.sidebar_content > div:nth-child(3) > a,
.sidebar_content > div:nth-child(4) > a {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #0f172a;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: var(--sidebar-padding-left);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  text-decoration: none;
}

.sidebar_content::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.sidebar_content::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border-radius: 10px;
}

.sidebar_content::-webkit-scrollbar-track {
  background-color: white;
}
