.container {
    position: sticky;
    top: 57px;
    display: flex;
    flex-direction: column;
    width: 250px;
    overflow-y: scroll;
    height: 100%;
    max-height: calc(100vh - 58px);
    padding: 30px 10px 100px;
}

.container::-webkit-scrollbar {
    height: 4px;
    width: 5px
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--colors-slate6);
    border-radius: 5px;
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--colors-slate6);
}


.instructions_container {
    display: flex;
    flex-direction: column;
}

.components_container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 30px;
}

.title {
    height: 30px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.navigation_link_not_active,
.navigation_link_active {
    font-size: 12px;
    color: #64748b;
    font-weight: 400;
    line-height: 1.8em;
    height: 30px;
    padding: 0 1rem;
    margin-bottom: 2px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navigation_link_active {
    background-color: var(--colors-sky4);
    border-radius: 15px;
}


.navigation_link_not_active:hover {
    cursor: pointer;
    background-color: var(--colors-sky3);
    border-radius: 15px;
}


.navigation_link_not_active:focus,
.navigation_link_active:focus {
    outline: 1px solid var(--colors-sky6);
}
