.wrapper {
  /* outline: 1px solid blue; */
  display: flex;
  justify-content: center;
  background-color: white;
  flex: 1;
}

.main_container {
  position: relative;
  display: flex;
  padding-left: 1.5em;
  padding-right: 1.5em;
  max-width: 1200px;
}

.horizontal_line {
  border-top: 1px solid #dfe4ed;
  margin: 20px 0;
}

.middle_container {
  /* outline: 1px solid red; */
  display: flex;
  flex-direction: column;
  padding: 0 1.5em;
  padding-top: 30px;
}
