.content_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


/* Styles for Medium devices (tablets in landscape mode) & Large devices (desktops) */
@media (min-width: 768px) and (max-width: 1440px) {
    .content_container {
        max-width: 750px;
    }
}


/*!* Styles for Extra large devices (large desktops) *!*/
/*@media (min-width: 1441px) {*/
/*   */
/*}*/
