.content_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

/* iPad (Portrait) */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}

/* iPad (Landscape) */
@media screen and (min-width: 1024px) and (max-width: 1400px) {
    .content_container {
        max-width: 776px;
    }
}

/* Desktop */
@media screen and (min-width: 1400px) {
    .content_container {

    }
}
