.wrapper {
    display: flex;
    justify-content: center;
    background-color: white;
    flex: 1;
}

.container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: var(--desktop-width);
}

.middle_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
    margin: 0 20px
}

/* iPad (Portrait) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .middle_container {
        margin: 0 20px;
    }
}

/* iPad (Landscape) */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .middle_container {
        margin: 0 30px;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .middle_container {
        margin: 0 40px;

    }
}
