.sidebar_container {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  gap: 0.5rem;
}

.searchnav_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* search bar button */
.searchnav_container > button:first-child {
  width: 100%;
  height: 36px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #f0f0f0;
  border: none;
  background: none;
  cursor: pointer;
  padding: 8px 16px;
  margin-right: 0.5rem;
}

/* search bar text */
.searchnav_container > button:first-child > div {
  font-size: 14px;
  text-align: left;
  color: #64748b;
}

/* ToggleSidebarIcon, GithubIcon, ToggleThemeIcon */
.sidebar_container > button:first-child,
.searchnav_container button:nth-child(2),
.searchnav_container button:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  height: 36px;
  width: 36px;
  min-width: 36px;
  max-width: 36px;
}

/* iPad (Portrait) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .sidebar_container {
    padding: 0 32px;
  }
}

/* iPad (Landscape) */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
}

/* Desktop */
@media screen and (min-width: 1200px) {
}
