:root {
  --radix-accordion-content-height: 40px;
  --radix-accordion-content-padding: 30px;
}

.AccordionRoot {
  display: flex;
  flex-direction: column;
  width: 500px;
  border-radius: 6px;
}

.AccordionItem {
  margin-top: 1px;
}

.AccordionHeader {
}

.AccordionTrigger {
  font-size: 16px;
  height: 50px;
  width: 100%;
  cursor: pointer;
  outline: none;
  text-align: left;
  border: none;
  background-color: white;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.AccordionTrigger:hover {
  text-decoration: underline;
}

.AccordionContent {
  overflow: hidden;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #0f172a;
  height: 0;
  margin: 0;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1), margin 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.AccordionContent-first[data-state='open'] {
  height: 126px;
  margin: 10px 0;
}

.AccordionContent-second[data-state='open'] {
  height: 42px;
  margin: 10px 0;
}

.AccordionContent-third[data-state='open'] {
  height: 84px;
  margin: 10px 0;
}
