.AccordionRoot {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}

.AccordionItem {
  margin-top: 1px;
}

.AccordionTrigger {
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  width: 100%;
  cursor: pointer;
  outline: none;
  text-align: left;
  border: none;
  background-color: white;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AccordionTrigger:hover {
  text-decoration: underline;
}

/* .AccordionContent {
  overflow: hidden;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #0f172a;
  height: 0;
  margin: 0;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1), margin 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.AccordionContent-first[data-state='open'] {
  height: 126px;
  margin: 10px 0;
}

.AccordionContent-second[data-state='open'] {
  height: 42px;
  margin: 10px 0;
}

.AccordionContent-third[data-state='open'] {
  height: 84px;
  margin: 10px 0;
} */
