header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 500;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}


.wrapper {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--top-navigation-height);
    width: 100%;
    max-width: var(--desktop-width);
    margin: 0 10px;

    transition: transform 200ms ease-in-out,
    background 200ms ease-in-out,
    border-radius 200ms ease-in-out,
    box-shadow 200ms ease-in-out,
    backdrop-filter 200ms ease-in-out;
}


.wrapper[data-scrolled= "true"] {
    transform: translateY(10px);
    background: rgba(255, 255, 255, 0.47);
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.wrapper[data-scrolled= "false"] {
    transform: translateY(0px);
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}


.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    padding: var(--desktop-horizontal-padding);
}

/* Region: LEFT SIDE */
.desktop_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.desktop_nav a {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    color: #0f172a99;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.desktop_nav a:hover {
    color: #0f172acc;
}

/* Region: RIGHT SIDE */
.search_nav_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

/* search bar button */
.search_nav_container > button:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding-left: 16px;
    padding-right: 6px;
    margin-right: 0.5rem;
    transition: background-color 0.1s ease-in-out;
    background: rgba(255, 255, 255, 0.32);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.search_nav_container > button:first-child:hover {
    background: rgba(255, 255, 255, 0.58);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/* search bar text */
.search_nav_container > button:first-child > div {
    font-size: 14px;
    text-align: left;
    color: #64748b;
}

.shortcut_container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f1f5f9;
    display: flex;
    border-radius: 6px;
    padding: 0.1em 0.5em;
    gap: 0.25rem;
}

.shortcut_container span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shortcut_container span:nth-child(2) {
    font-size: 10px;
}

/*
ToggleSidebarIcon,
GithubIcon,
ToggleThemeIcon
*/
.toggle_side_bar_icon,
.search_nav_container button:nth-child(2),
.search_nav_container button:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    height: 36px;
    width: 36px;
    min-width: 36px;
    max-width: 36px;
}


/* Styles for Small devices (tablets in portrait mode) */
@media (min-width: 641px) and (max-width: 767px) {

}

/* Styles for Medium devices (tablets in landscape mode) */
@media (min-width: 768px) and (max-width: 900px) {

}

/* Styles for Large devices (desktops) */
@media (min-width: 901px) and (max-width: 1440px) {
    .search_nav_container > button:first-child {
        width: 256px;
    }
}

/* Styles for Extra large devices (large desktops) */
@media (min-width: 1441px) {

}
