header {
    position: sticky;
    top: 0;
    z-index: 1;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--top-navigation-height);
    box-shadow: inset 0 -1px 0 #dfe4ed;
    background-color: white;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    max-width: var(--desktop-width);
    padding: var(--desktop-horizontal-padding);
}

/* LEFT SIDE ---- */
.desktop_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.desktop_nav a {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    color: #0f172a99;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.desktop_nav a:hover {
    color: #0f172acc;
}

/* RIGHT SIDE ---- */
.search_nav_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

/* search bar button */
.search_nav_container > button:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding-left: 16px;
    padding-right: 6px;
    margin-right: 0.5rem;
    transition: background-color 0.1s ease-in-out;
}

.search_nav_container > button:first-child:hover {
    background-color: #f1f5f9;
}

/* search bar text */
.search_nav_container > button:first-child > div {
    font-size: 14px;
    text-align: left;
    color: #64748b;
}

.shortcut_container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f1f5f9;
    display: flex;
    border-radius: 6px;
    padding: 0.1em 0.5em;
    gap: 0.25rem;
}

.shortcut_container span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shortcut_container span:nth-child(2) {
    font-size: 10px;
}

/*
ToggleSidebarIcon,
GithubIcon,
ToggleThemeIcon
*/
.toggle_side_bar_icon,
.search_nav_container button:nth-child(2),
.search_nav_container button:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    height: 36px;
    width: 36px;
    min-width: 36px;
    max-width: 36px;
}

/* iPad (Portrait) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .search_nav_container > button:first-child {
        width: 256px;
    }
}

/* iPad (Landscape) */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .search_nav_container > button:first-child {
        width: 256px;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .search_nav_container > button:first-child {
        width: 256px;
    }
}
