.section_container {
  padding: 4px 8px;
}

.title {
  padding: 6px 8px;
  color: #64748b;
  font-size: 12px;
  font-weight: 500;
}

.item {
  padding: 12px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  font-weight: 400;
  color: #0f172a;
  border-radius: 4px;
}

.item:hover {
  background-color: #f5f5f9;
  cursor: pointer;
}
