.overlay {
  position: absolute;
  height: inherit;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(8px);
  opacity: 0;
  pointer-events: none;
}

.overlay_visible {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
  pointer-events: auto;
  height: 100vh;
}

.transition {
  transition: transform 0.2s ease-in-out;
}

.content {
  position: absolute;
  height: 350px;
  width: 100%;
  opacity: 0;
  background-color: white;
  pointer-events: none;
  box-shadow: 0 10px 220px rgba(0, 0, 0, 0.19), 0 10px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(20%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.content_active {
  transform: translateY(0%);
  opacity: 1;
  pointer-events: auto;
}

.searchbar_container {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  gap: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.searchbar_container div,
.searchbar_container button {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: white;
}

.searchbar_container input {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.searchbar_container input::placeholder {
  color: rgb(148 163 184);
}

.visuallyHidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* iPad (Portrait) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 350px;
    width: 500px;
    opacity: 0;
    background-color: white;
    pointer-events: none;
    box-shadow: 0 10px 220px rgba(0, 0, 0, 0.19), 0 10px 15px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%) scale(0.9);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }

  .content_active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    pointer-events: auto;
  }
}

/* iPad (Landscape) */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 350px;
    width: 500px;
    opacity: 0;
    background-color: white;
    pointer-events: none;
    box-shadow: 0 10px 220px rgba(0, 0, 0, 0.19), 0 10px 15px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%) scale(0.9);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }

  .content_active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    pointer-events: auto;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 350px;
    width: 500px;
    opacity: 0;
    background-color: white;
    pointer-events: none;
    box-shadow: 0 10px 220px rgba(0, 0, 0, 0.19), 0 10px 15px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%) scale(0.9);

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }

  .content_active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    pointer-events: auto;
  }
}
