/* @formatter:off */
.container {
    background-image:
        linear-gradient(to right top,
            #d16ba5,
            #c777b9,
            #ba83ca,
            #aa8fd8,
            #9a9ae1,
            #819fe2,
            #68a3e0,
            #51a6da,
            #22a3ca,
            #009fb6,
            #00999e,
            #059285
        );

    position: relative;
    min-height: 350px;
    width: 100%;
    border-radius: 6px;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
