/* @formatter:off */
.container {
    background:
        linear-gradient(to bottom right, hsla(8, 100%, 96.6%, 50%), transparent 30%) no-repeat,
        linear-gradient(to top left, hsla(193, 99.0%, 94.7%, 50%), transparent 30%) no-repeat,
        var(--colors-sky8);
    background-size:
        50% 75%,
        50% 75%,
        auto;
    background-position:
        top left,
        bottom right,
        0 0;

    position: relative;
    min-height: 350px;
    width: 100%;
    border-radius: 6px;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
