.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1em;
    font-size: 14px;
}

.breadcrumbs span {
    font-weight: 400;
    color: var(--colors-mauve11)
}

.home_icon {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    height: 1.3rem;
    width: 1.3rem;
    opacity: 0.5;
    color: var(--colors-slate12);
    display: flex;
    align-items: center;
    justify-content: center;
}


.home_icon > a {
    text-decoration: none;
}

.home_icon > a > svg {
    text-decoration: none;
    height: 1.2rem;
    width: 1.2rem;
    fill: var(--colors-slate12);
}

.chevron_right_icon {
    outline: none;
    border: none;
    background: none;
    height: 1.3rem;
    width: 1.3rem;
    opacity: 0.5;
    color: var(--colors-slate12);
    display: flex;
    align-items: center;
}
