* {
    margin: 0;
    padding: 0;
    /*-webkit-font-smoothing: auto;*/
    /*-webkit-box-sizing: border-box; !* Safari/Chrome, other WebKit *!*/
    /*-moz-box-sizing: border-box; !* Firefox, other Gecko *!*/
    box-sizing: border-box; /* Opera/IE 8+ */
    font-family: 'Poppins', sans-serif;
}


body {
    overflow-x: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.pages_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

pre, code * {
    font-family: 'JetBrains Mono', monospace;
    line-height: 25px;
    font-size: 13px;
}


:root {
    --primary: var(--colors-sky11);
    --secondary: var(--colors-teal11);
    --tertiary: var(--colors-crimson10);
    --text: var(--colors-indigo11);
    --comment: var(--colors-mauve9);
    --fadedLines: var(--colors-mauveA8);
}

.syntax--sky {
    color: var(--primary);
    white-space: pre;
}

.syntax--teal {
    color: var(--secondary);
}

.syntax--crimson {
    color: var(--tertiary);
}

.syntax--indigo {
    color: var(--text)
}
