.wrapper {
  display: flex;
  justify-content: center;
  background-color: white;
  flex: 1;
}

.container {
  position: relative;
  display: flex;
  padding: var(--desktop-horizontal-padding);
  width: 100%;
  max-width: var(--desktop-width);
}

.middle_container {
  outline: 1px solid blue;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 40px;
  padding-top: 30px;
}
